@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Oswald:700);
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*Width*/
/* colors */
/* Elements sizes */
/* drop shadow level*/
/* line 43, ../sass/style.scss */
html {
  height: 100%;
  width: 100%;
  position: relative;
}

/* line 48, ../sass/style.scss */
body {
  padding-top: 48px;
  padding-bottom: 48px;
  position: relative;
  font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

/* line 55, ../sass/style.scss */
header#global-header,
footer#global-footer {
  width: 100%;
  position: absolute;
  box-shadow: 0 0px 0px black;
}

/* line 62, ../sass/style.scss */
header#global-header {
  height: 48px;
  line-height: 48px;
  background-color: #E24D00;
  text-align: center;
  top: 0;
}

/* line 71, ../sass/style.scss */
footer#global-footer {
  height: 48px;
  line-height: 48px;
  background-color: #E24D00;
  text-align: center;
  bottom: 0;
}
/* line 77, ../sass/style.scss */
footer#global-footer > img {
  margin: 8px auto;
}

/* line 81, ../sass/style.scss */
button {
  -webkit-tap-highlight-color: transparent;
  height: 48px;
  line-height: 48px;
  background-color: #E24D00;
  color: #FFF;
  border: none;
  padding: 0 16px;
  text-align: center;
  min-width: 50px;
  position: relative;
  top: 0;
  transition: top 0.1s ease-in-out 0s,bottom 0.1s ease-in-out 0s;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}
/* line 86, ../sass/style.scss */
button.lighten {
  background-color: #ff7630;
}
/* line 101, ../sass/style.scss */
button:focus {
  outline: none;
}
/* line 105, ../sass/style.scss */
button:active {
  top: 3px;
}
/* line 109, ../sass/style.scss */
button .glyphicons {
  top: 2px;
}

/*メインビジュアル要素*/
/* line 117, ../sass/style.scss */
#mainvisual, .keyVisual {
  background-color: #ccc;
  min-height: 100px;
  position: relative;
  transition: height 0.5s ease-in-out 0s;
}
@media (max-width: 767px) {
  /* line 117, ../sass/style.scss */
  #mainvisual, .keyVisual {
    height: 160px;
  }
}
@media (min-width: 370px) {
  /* line 117, ../sass/style.scss */
  #mainvisual, .keyVisual {
    height: 185px;
  }
}
@media (min-width: 410px) {
  /* line 117, ../sass/style.scss */
  #mainvisual, .keyVisual {
    height: 205px;
  }
}
@media (min-width: 768px) {
  /* line 117, ../sass/style.scss */
  #mainvisual, .keyVisual {
    height: 384px;
  }
}
/* line 142, ../sass/style.scss */
#mainvisual > div.visual, .keyVisual > div.visual {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
/* line 146, ../sass/style.scss */
#mainvisual > div.visual > img, .keyVisual > div.visual > img {
  width: 100%;
}
/* line 153, ../sass/style.scss */
#mainvisual > div.visual.streetview > img, .keyVisual > div.visual.streetview > img {
  margin-top: -15%;
  /* -webkit-filter: blur(9px); */
}

@media (min-width: 992px) {
  /* line 163, ../sass/style.scss */
  body {
    display: block;
  }
}
@media (min-width: 1200px) {
  /* line 164, ../sass/style.scss */
  body {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 167, ../sass/style.scss */
  body {
    display: block;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 170, ../sass/style.scss */
  body {
    display: block;
  }
}
@media (min-width: 768px) {
  /* line 173, ../sass/style.scss */
  body {
    display: block;
  }
}
@media (max-width: 767px) {
  /* line 176, ../sass/style.scss */
  body {
    display: block;
  }
}
/* line 179, ../sass/style.scss */
.buttonCommon {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #E24D00;
  transition: all 0.5s ease-out 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  z-index: 1000;
  height: 64px;
  width: 64px;
  border-radius: 32px;
  line-height: 64px;
}
/* line 191, ../sass/style.scss */
.buttonCommon.lighten {
  background-color: #ff7630;
}
/* line 202, ../sass/style.scss */
#mainvisual .buttonCommon, .keyVisual .buttonCommon {
  position: absolute;
  bottom: -32px;
  right: 16px;
}
/* line 206, ../sass/style.scss */
#mainvisual .buttonCommon .first, .keyVisual .buttonCommon .first {
  display: none;
}
/* line 210, ../sass/style.scss */
#mainvisual .buttonCommon .second, .keyVisual .buttonCommon .second {
  display: block;
}
/* line 214, ../sass/style.scss */
#mainvisual .buttonCommon.mainvisualCenter, .keyVisual .buttonCommon.mainvisualCenter {
  right: 50%;
  bottom: 20%;
  border-radius: 0;
  width: 300px;
  margin: 0 -150px;
}
@media (max-width: 410px) {
  /* line 214, ../sass/style.scss */
  #mainvisual .buttonCommon.mainvisualCenter, .keyVisual .buttonCommon.mainvisualCenter {
    bottom: 8%;
  }
}
/* line 226, ../sass/style.scss */
#mainvisual .buttonCommon.mainvisualCenter .first, .keyVisual .buttonCommon.mainvisualCenter .first {
  display: block;
}
/* line 229, ../sass/style.scss */
#mainvisual .buttonCommon.mainvisualCenter .second, .keyVisual .buttonCommon.mainvisualCenter .second {
  display: none;
}

/* line 241, ../sass/style.scss */
.cards {
  display: block;
}
/* line 244, ../sass/style.scss */
.cards:after {
  content: "";
  display: block;
  clear: both;
  zoom: 1;
}
/* line 253, ../sass/style.scss */
.cards > li {
  width: 100%;
}
/* line 255, ../sass/style.scss */
.cards > li:after {
  content: "";
  display: block;
  clear: both;
  zoom: 1;
}
@media (min-width: 480px) and (max-width: 767px) {
  /* line 253, ../sass/style.scss */
  .cards > li {
    width: 50%;
    float: left;
  }
  /* line 268, ../sass/style.scss */
  .cards > li.double, .cards > li.triple, .cards > li.fullsize {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 253, ../sass/style.scss */
  .cards > li {
    width: 33.333%;
    float: left;
  }
  /* line 277, ../sass/style.scss */
  .cards > li.double {
    width: 66.666%;
  }
  /* line 281, ../sass/style.scss */
  .cards > li.triple, .cards > li.fullsize {
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 253, ../sass/style.scss */
  .cards > li {
    width: 25%;
    float: left;
  }
  /* line 291, ../sass/style.scss */
  .cards > li.double {
    width: 50%;
  }
  /* line 295, ../sass/style.scss */
  .cards > li.triple {
    width: 75%;
  }
  /* line 299, ../sass/style.scss */
  .cards > li.fullsize {
    width: 100%;
  }
}
/* line 304, ../sass/style.scss */
.cards > li > .card {
  background-color: #fff;
  margin: 6px;
  background-color: #FFF;
  padding: 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}
/* line 314, ../sass/style.scss */
.cards > li > .card .visual {
  margin: -12px -12px 12px -12px;
  overflow: hidden;
  clear: both;
  display: block;
}
/* line 320, ../sass/style.scss */
.cards > li > .card .visual img {
  max-width: 100%;
}
/* line 325, ../sass/style.scss */
.cards > li > .card .map {
  background-position: center;
  background-size: cover;
  margin: 12px -12px -12px -12px;
  height: 0px;
  transition: height 0.5s ease-in-out 0s;
  position: relative;
  overflow: hidden;
}
/* line 333, ../sass/style.scss */
.cards > li > .card .map:after {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: 10px;
  transition: top 0.4s ease-in-out 0.1s;
  border: 12px solid green;
  border-color: green transparent transparent transparent;
}
/* line 343, ../sass/style.scss */
.cards > li > .card .map button {
  width: 50%;
  bottom: 0;
  position: absolute;
  top: auto;
}
/* line 349, ../sass/style.scss */
.cards > li > .card .map button:active {
  bottom: -5px;
}
/* line 353, ../sass/style.scss */
.cards > li > .card .map button.go {
  left: 0;
}
/* line 356, ../sass/style.scss */
.cards > li > .card .map button.more {
  right: 0;
}
/* line 363, ../sass/style.scss */
.cards > li > .card.open .map {
  display: block;
  height: 210px;
}
/* line 366, ../sass/style.scss */
.cards > li > .card.open .map:after {
  top: 0;
}
/* line 370, ../sass/style.scss */
.cards > li > .card p, .cards > li > .card blockquote {
  line-height: 1.4em;
  font-size: 95%;
  margin-bottom: 0.7em;
}
/* line 376, ../sass/style.scss */
.cards > li > .card blockquote {
  font-style: italic;
  text-align: center;
}
/* line 385, ../sass/style.scss */
.cards.searchresult .card {
  font-size: 40px;
  background-color: #5fc4f0;
  color: #FFF;
  text-align: center;
  -webkit-transition: background 0.3s ease-in-out 0s;
  -moz-transition: background 0.3s ease-in-out 0s;
  -ms-transition: background 0.3s ease-in-out 0s;
  -o-transition: background 0.3s ease-in-out 0s;
  transition: background 0.3s ease-in-out 0s;
}
/* line 396, ../sass/style.scss */
.cards.searchresult .card .glyphicons {
  font-size: 20px;
  margin-left: 8px;
}
/* line 402, ../sass/style.scss */
.cards.searchresult .deny .card {
  background-color: #FF3708;
}
/* line 406, ../sass/style.scss */
.cards.searchresult .allow .card {
  background-color: green;
}

/* line 416, ../sass/style.scss */
.layer1 {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4) !important;
}

/* line 417, ../sass/style.scss */
.layer2 {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3) !important;
}

/* line 418, ../sass/style.scss */
.layer3 {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25) !important;
}

/* line 419, ../sass/style.scss */
.layer4 {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.23) !important;
}

/* line 420, ../sass/style.scss */
.layer5 {
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2) !important;
}

/* line 423, ../sass/style.scss */
.indicator {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  line-height: 128px;
  height: 128px;
  font-size: 128px;
  color: #FFF;
  font-family: Oswald ,sans-serif;
  font-weight: 700;
  text-align: center;
  width: 100%;
  top: 50%;
  margin-top: -64px;
}
@media (max-width: 410px) {
  /* line 423, ../sass/style.scss */
  .indicator {
    line-height: 96px;
    height: 96px;
    font-size: 96px;
    margin-top: -48px;
  }
}
/* line 446, ../sass/style.scss */
.indicator img {
  height: 50%;
  opacity: 0;
}

/* line 454, ../sass/style.scss */
h3 {
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
  margin-bottom: 6px;
}
/* line 461, ../sass/style.scss */
h3 small {
  font-size: 10px;
  color: #999;
  display: inline-block;
}

/* line 469, ../sass/style.scss */
.description {
  font-size: 10px;
  line-height: 1.4em;
  color: #999;
}

/* line 476, ../sass/style.scss */
.rate {
  text-align: right;
}
/* line 478, ../sass/style.scss */
.rate img {
  width: 16px;
}

/* line 484, ../sass/style.scss */
#entrance {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #E24D00;
  background-image: url(../images/brand_flash.png);
  background-position: center;
  background-size: 320px 320px;
  background-repeat: no-repeat;
  background-size: 320px 320px;
  z-index: 1000;
  width: 100%;
  height: 100%;
  text-align: center;
}
/* line 498, ../sass/style.scss */
#entrance .lowerComponents {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 96px;
  line-height: 96px;
}
/* line 504, ../sass/style.scss */
#entrance .lowerComponents button {
  position: relative;
  top: 0;
  transition: top 0.3s ease-in-out 0s;
}
/* line 510, ../sass/style.scss */
#entrance .lowerComponents img.progress {
  position: absolute;
  margin: -8px;
  top: 120px;
  left: 50%;
  transition: top 0.3s ease-in-out 0s;
}
/* line 520, ../sass/style.scss */
#entrance.progress .lowerComponents button {
  top: 120px;
}
/* line 524, ../sass/style.scss */
#entrance.progress .lowerComponents img.progress {
  top: 50%;
}
