/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import url(http://fonts.googleapis.com/css?family=Oswald:700);


/*Width*/
$phoneMaxWidth : 767px;
$phoneMinWidth : 320px;
$phoneLandscapeMinWidth : 480px;

$phabletWidth:410px;
$phoneLargeWidth:370px;

$tabletMinWidth : $phoneMaxWidth +1;
$tabletMaxWidth : 991px;
$pcMinWidth : $tabletMaxWidth+1;
$pcDefaultWidth : 1199px;
$pcHighdefWidth : 1200px;

/* colors */
$keyColor : #E24D00 ;


/* Elements sizes */
$UICommonHeight : 48px;
$UIHeaderHeight : $UICommonHeight;
$UIFooterHeight : $UICommonHeight;

/* drop shadow level*/

$dropShadowLv0 : 0 0px 0px rgba(0, 0, 0, 1);
$dropShadowLv1 : 0 1px 2px rgba(0, 0, 0, 0.4);
$dropShadowLv2 : 0 2px 3px rgba(0, 0, 0, 0.3);
$dropShadowLv3 : 0 3px 5px rgba(0, 0, 0, 0.25);
$dropShadowLv4 : 0 4px 6px rgba(0, 0, 0, 0.23);
$dropShadowLv5 : 0 5px 7px rgba(0, 0, 0, 0.20);


html {
  height:100%;
  width:100%;
  position: relative;
}
body {
  padding-top:$UIHeaderHeight;
  padding-bottom:$UIFooterHeight;
  position: relative;
  font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

header#global-header ,
footer#global-footer {
  width:100%;position: absolute;
  box-shadow:$dropShadowLv0;

  }

header#global-header {
  height:$UIHeaderHeight;
  line-height:$UIHeaderHeight;
  background-color: $keyColor;
  text-align:center;
  top:0;

}

footer#global-footer {
  height:$UIFooterHeight;
  line-height:$UIFooterHeight;
  background-color: $keyColor;
  text-align:center;
  bottom:0;
  > img {margin:8px auto;}
}


button {
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  height:48px;
  line-height:48px;
  background-color: $keyColor;
  &.lighten {
    background-color: lighten( $keyColor, 15% );
  }
  color:#FFF;
  border:none;
  padding:0 16px;
  text-align:center;
  min-width:50px;
  position: relative;
  top:0;
  transition:top 0.1s ease-in-out 0s;
  font-size: 16px;
  font-weight:bold;
  box-shadow: $dropShadowLv1;

  &:focus {
    outline: none;
  }

  &:active {
    top:3px;
  }

  .glyphicons {
    top: 2px;
  }
}


/*メインビジュアル要素*/

#mainvisual , .keyVisual {
  background-color: #ccc;
  min-height:100px;
  position: relative;

  transition: height 0.5s ease-in-out 0s;

  $ratio :0.5;
  //Smartphones
  @media (max-width: $phoneMaxWidth) {
    height:$phoneMinWidth*$ratio;
  }

  @media (min-width: $phoneLargeWidth) {
    height:$phoneLargeWidth*$ratio;
  }

  @media (min-width: $phabletWidth) {
    height:$phabletWidth*$ratio;
  }

  @media (min-width: $tabletMinWidth) {
    height:$tabletMinWidth*$ratio;
  }

    > div.visual {
      overflow: hidden;
      width: 100%;height: 100%;

      > img{
        width:100%;
      }

    }

    > div.visual.streetview {
      > img{
        margin-top:-15%;
        /* -webkit-filter: blur(9px); */
      }
    }

}



@media (min-width: $pcMinWidth) {body{display:block;}}
@media (min-width: $pcHighdefWidth) {body{display:block;}}

//Tablet(portrait)
@media (min-width: $tabletMinWidth) and (max-width: $tabletMaxWidth) {body{display:block;}}

//Tablet(landscape)
@media (min-width: $pcMinWidth) and (max-width: $pcDefaultWidth) {body{display:block;}}

//Up to smart
@media (min-width: $tabletMinWidth ) {body{display:block;}}

//Smartphones
@media (max-width: $phoneMaxWidth) {body{display:block;}}


.buttonCommon{

  $height : 64px;

  display:block;
  text-align:center;
  text-decoration:none;
  color:#fff;
  background-color:$keyColor;
  transition: all 0.5s ease-out 0.3s;
  box-shadow:$dropShadowLv4;

  &.lighten{
    background-color: lighten( $keyColor, 15% );
  }
  position: relative;
  z-index:1000;

  height:$height;
  width:$height;
  border-radius:$height/2;
  line-height:$height;

  #mainvisual & , .keyVisual & {
    position: absolute;
    bottom:$height * -0.5;
    right:$height * 0.25;
    .first{
      display:none;
    }

    .second{
      display:block;
    }

    &.mainvisualCenter{
      right: 50%;
      bottom: 20%;
      border-radius: 0;
      width: 300px;
      margin: 0 -150px;

      @media (max-width: $phabletWidth) {
        bottom: 8%;
      }


      .first{
        display:block;
      }
      .second{
        display:none;
      }
    }
  }



}



.cards {
  display:block;

  &:after{
    content:"";
    display:block;
    clear:both;
    zoom:1;
  }



  > li {

    &:after{
      content:"";
      display:block;
      clear:both;
      zoom:1;
    }

    width:100%;

    @media  (min-width: $phoneLandscapeMinWidth) and (max-width: $phoneMaxWidth)  {
      width:50%;
      float:left;

      &.double , &.triple , &.fullsize {
        width:100%;
      }
    }

    @media (min-width: $tabletMinWidth ) and (max-width: $tabletMaxWidth ){
      width:33.333%;
      float:left;

      &.double {
        width:66.666%;
      }

      &.triple , &.fullsize {
        width:100%;
      }

    }

    @media (min-width: $pcMinWidth ) {
      width:25%;
      float:left;

      &.double {
        width:50%;
      }

      &.triple {
        width:75%;
      }

      &.fullsize {
        width:100%;
      }
    }

    > .card {

      $cardPadding:12px;

      background-color: #fff;
      margin:6px;
      background-color: #FFF;
      padding:$cardPadding;
      box-shadow:$dropShadowLv1;

      .visual {
        margin: $cardPadding*-1 $cardPadding*-1 $cardPadding $cardPadding*-1;
        overflow: hidden;
        clear:both;
        display:block;

        img {
          max-width:100%;
        }
      }

      .map {
        display:none;
        background-position: center;
        background-size: cover;
        margin: 12px -12px -12px -12px;
        height: 0px;
        transition:height 0.5s ease-in-out 0s;
      }

      &.open {
        .map {
          display:block;
          height: 210px;
        }
      }

      p , blockquote {
        line-height: 1.4em;
        font-size: 95%;
        margin-bottom: 0.7em;
      }

      blockquote {
        font-style:italic;
        text-align:center;
      }

    }
  }

  &.searchresult {
    .card {
      font-size: 40px;
      background-color: rgb(95, 196, 240);
      color: #FFF;
      text-align: center;
      -webkit-transition: background 0.3s ease-in-out 0s;
-moz-transition: background 0.3s ease-in-out 0s;
-ms-transition: background 0.3s ease-in-out 0s;
-o-transition: background 0.3s ease-in-out 0s;
transition: background 0.3s ease-in-out 0s;

      .glyphicons{
        font-size: 20px;
        margin-left: 8px;
      }
    }

    .deny .card{
      background-color: #FF3708;
    }

    .allow .card{
      background-color: green;
    }

  }

}



.layer1 {box-shadow:$dropShadowLv1!important;}
.layer2 {box-shadow:$dropShadowLv2!important;}
.layer3 {box-shadow:$dropShadowLv3!important;}
.layer4 {box-shadow:$dropShadowLv4!important;}
.layer5 {box-shadow:$dropShadowLv5!important;}


.indicator {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  line-height: 128px;
  height: 128px;
  font-size: 128px;
  color: #FFF;
  font-family: Oswald ,sans-serif;
  font-weight:700;
  text-align: center;
  width: 100%;
  top: 50%;
  margin-top: -64px;

  @media (max-width: $phabletWidth) {
    line-height: 96px;
    height: 96px;
    font-size: 96px;
    margin-top: -48px;
  }

  img {
    height:50%;
    opacity:0;
  }
}



h3 {
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
  margin-bottom: 6px;

  small {
    font-size:10px;
    color:#999;
    display:inline-block
  }

}

.description {
  font-size: 10px;
  line-height: 1.4em;
  color: #999;
}


.rate {
  text-align:right;
  img {
    width:16px;
  }
}


#entrance {
  position: fixed;
  top:0;left:0;
  background-color: $keyColor;
  background-image: url(../images/brand_flash.png);
  background-position: center;
  background-size: 320px 320px;
  background-repeat: no-repeat;
  background-size: 320px 320px;
  z-index: 1000;
  width: 100%;
  height: 100%;
  text-align:center;

  .lowerComponents {
    position: absolute;
    bottom:0;left:0;
    width:100%;
    height:96px;line-height:96px;

    button {
      position: relative;
      top:0;
      transition: top 0.3s ease-in-out 0s;
    }

    img.progress {
      position: absolute;
      margin:-8px;
      top:120px;left: 50%;
      transition: top 0.3s ease-in-out 0s;
    }
  }

  &.progress {
    .lowerComponents {
      button {
        top:120px
      }

      img.progress {
        top:50%;
      }
    }
  }

}
