<!DOCTYPE html>
<html lang="en" ng-app="Owner">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.7.0/angular-material.min.css">

  <title>Owner</title>
</head>

<body ng-controller="Main" layout="column">
  <md-toolbar layout="row" layout-align="center center" style="background: #E24D00">
    <h2 style="margin: 0;"><img src="images/brand.png" alt="Unterest" height="48"></h2>
  </md-toolbar>

  <!-- user.help 受信時 -->
  <div ng-show="helpReceived" style="margin: 16px;">
    <md-toolbar class="md-warn">
      <div class="md-toolbar-tools">
        <span class="md-flex">{{user.screenname}} がうんこしたいようです。助けてあげますか？</span>
      </div>
    </md-toolbar>

    <section layout="row" layout-align="center center">
      <md-button class="md-raised" ng-click="sendResponse(target, true)" style="width: 40%; margin: 8px;">はい</md-button>
      <md-button class="md-raised" ng-click="sendResponse(target, false)" style="width: 40%; margin: 8px;">いいえ</md-button>
    </section>
  </div>

  <div ng-show="userWillCome" style="margin: 16px;">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span class="md-flex">{{user.screenname}} の命はあなたによって救われました。</span>
      </div>
    </md-toolbar>

    <section layout="row" layout-sm="column" layout-align="center center">
      <md-button class="md-raised" ng-click="userWillCome = false" style="min-width: 10em;">OK</md-button>
    </section>
  </div>


  <script src="http://hammerjs.github.io/dist/hammer.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.7.0/angular-material.min.js"></script>

  <script src="/socket.io/socket.io.js"></script>
  <script>
  angular.module('Owner', ['ngMaterial']).controller('Main', function($scope, $http, $timeout, $mdToast) {

    var userId = prompt('2～8までのどれか')
    // var userId = '1'
    var socket = window.io ? io.connect() : {
      on: angular.noop,
      emit: angular.noop
    };

    /**
     * 助けを求められた時。
     * data.source : 送信元ユーザーの socket.id
     * data.geolocation : 送信元ユーザーの位置情報
     * data.userId : 送信元ユーザーID
     */
    socket.on('user.help', function(data) {
      console.log(data);

      $scope.helpReceived = true;
      $http.get('api/user/' + data.userId).success(function(user) {
        $scope.user = user;
      });

      $scope.target = data.source;
      $scope.$apply();
    });

    $scope.sendResponse = function(target, result) {
      socket.emit('owner.response', {
        target: target,
        result: result,
        userId: userId
      });

      $scope.helpReceived = false;
    };

    /**
     * ここへ行くと決めた時。
     * data.source : 送信元ユーザーの socket.id
     * data.userId : 利用者のユーザーID
     */
    socket.on('user.thankYou', function(data) {
      console.log(data);

      $http.get('api/user/' + data.userId).success(function(user) {
        $mdToast.show($mdToast.simple().content(user.screenname + 'の命はあなたによって救われました。'));
      });

      $scope.$apply();
    });

    /**
     * 行かなくてよくなった時。
     * data.source : 送信元ユーザーの socket.id
     * data.userId : 利用者のユーザーID
     */
    socket.on('user.cancel', function(data) {
      console.log(data);

      $http.get('api/user/' + data.userId).success(function(user) {
        $mdToast.show($mdToast.simple().content(user.screenname + 'は他の人に助けられたようです。'));
      });

      $scope.$apply();
    });

  });
  </script>
</body>

</html>
